<div id='legend'>
    <table align='center'>
        <tr>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Fire_Station_S1.png" % request.application, _height="40", _width="40")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Fire_Hydrant_S1.png" % request.application, _height="40", _width="40")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.E_Med_Hospital_S1.png" % request.application, _height="40", _width="40")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_red.png" % request.application)}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_yellow.png" % request.application)}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_green.png" % request.application)}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/Cluster.png" % request.application)}}</td>
        </tr>
        <tr>
            <td style='padding:5px;'>{{=T("Fire Stations")}}</td>
            <td style='padding:5px;'>{{=T("Water Points")}}</td>
            <td style='padding:5px;'>{{=T("Hospitals")}}</td>
            <td style='padding:5px;'>{{=T("Fires")}}</td>
            <td style='padding:5px;'>{{=T("Hazmat")}}</td>
            <td style='padding:5px;'>{{=T("Rescues")}}</td>
            <td style='padding:5px;' align='center'>{{=T("Multiple")}}<br />({{=T("click for more details")}})</td>
        </tr>
    </table>
</div>